.custom_gutenberg { margin-bottom: 60px; }
.custom_gutenberg.folio_left,
.custom_gutenberg.folio_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom_gutenberg .content {
    width:30%;
}
.custom_gutenberg .imgFolio {
    width: 60%;
    align-items: center;
}

@media screen and (max-width: 721px) {
    .custom_gutenberg.folio_right {
        flex-direction: column-reverse;
    }
    .custom_gutenberg.folio_left {
        flex-direction: column;
    }
    .custom_gutenberg .imgFolio,
    .custom_gutenberg .content {
        width: 100%;
    }
}