.custom_gutenberg { margin-bottom: 60px; }
.custom_gutenberg.folio_left,
.custom_gutenberg.folio_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom_gutenberg.folio_left .content,
.custom_gutenberg.folio_right .content {
    width:30%;
}
.custom_gutenberg.folio_right .imgFolio,
.custom_gutenberg.folio_left .imgFolio {
    width: 65%;
    align-items: center;
}